#calendars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.calendar {
    min-width: 95vw;
    margin: 30px 15px;
    /* Simplifie les marges */
    padding: 15px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.SelectTerrain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}

#terrain-select {
    font-size: 15px;
}

#calendar-container {
    height: auto;
    overflow: auto;
}

.fc .fc-timegrid-slot {
    height: 50px;
}

#responsivMessage{
    display: none;
}

@media (max-width: 660px) {

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    
    }
    
    .SelectTerrain{
        display: none;
    }

    #calendars {
        display: none;
    }

    #responsivMessage {
        display: block; 
        text-align: center; 
        font-size: 18px; 
        margin-top: 20px; 
    }
}