#calendars {
    display: flex;
    flex-wrap: wrap;
    /* Permet aux calendriers de s'adapter sur plusieurs lignes si nécessaire */
    align-items: center;
    overflow: hidden;
}

.calendar {
    min-width: 95vw;
    margin: 30px 15px;
    /* Simplifie les marges */
    padding: 15px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.SelectTerrain {
    display: flex;
    flex-direction: column;
    /* Changer l'orientation pour un meilleur affichage mobile */
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}

#terrain-select {
    font-size: 15px;
}

#calendar-container {
    height: auto;
    overflow: auto;
}

.fc .fc-timegrid-slot {
    height: 50px;
}

@media (max-width: 960px) {
    #calendars {
        flex-direction: column;
        /* Aligne les calendriers en colonne sur mobile */
        align-items: stretch;
        /* Permet au calendrier de prendre toute la largeur */
    }

    .calendar {
        min-width: 100%;
        /* Le calendrier occupe toute la largeur */
        margin: 15px 0;
        /* Ajustement des marges pour un meilleur espacement */
    }

    .SelectTerrain {
        font-size: 18px;
        /* Réduction de la taille de la police pour le sélecteur sur mobile */
    }

    #terrain-select {
        font-size: 14px;
        /* Réduction de la taille de la police pour le sélecteur */
    }
}