
#calendars {
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.calendar {
    min-width: 95vw;
    margin: 30px 15px; /* Simplifie les marges */
    padding: 15px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.SelectTerrain{
display: flex;
justify-content: center;
margin-top: 30px;
font-size: 20px;
}

#terrain-select{
    font-size: 15px;
}

#calendar-container {
    height: auto;
    overflow: auto;
  }

.fc .fc-timegrid-slot {
    height: 50px;
  }