.errorMessage {
    background-color: red;
    text-align: center;
    color: white;
    border-top: 2px solid white;
}

.errorMessage p {
    padding: 20px;
    margin: 0;
    font-size: 40px;
}

.Message {
    background-color: green;
    text-align: center;
    color: white;
    border-top: 2px solid white;
}

.Message p {
    padding: 20px;
    margin: 0;
    font-size: 40px;
}

.intro {
    background-image: url(/assets/img/soccerball.jpg);
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    height: 500px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display: flex;
    align-items: center;
}

.intro h2 {
    margin: 0px;
    font-size: 28px;
    margin-bottom: 10%;
}

.intro div {
    color: white;
    width: 30%;
    margin-left: 100px;
}

.intro p {
    font-size: 20px;
    margin-bottom: 10%;

}

.calendarLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    transition: background-color 1.4s ease, color 0.8s ease, border-color 0.8s ease;
}

.calendarLink:hover {
    background-color: rgba(0, 128, 0, 0.351);
    color: white;
    border-color: white;
}

.gallery-container {
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 40vh;
    border: 1px solid white;
}

.item {
    height: 100%;
    cursor: pointer;
    position: relative;
}

.soccerField {
    text-align: center;
    background: rgb(38, 97, 24);
    background: linear-gradient(214deg, rgba(38, 97, 24, 1) 0%, rgba(58, 146, 36, 0.896796218487395) 49%, rgba(79, 199, 49, 1) 100%);
    padding-bottom: 2%;
}

.soccerField h2 {
    color: white;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 28px;
}

.filtreImg {
    background-color: rgba(0, 0, 0, 0.656);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.6s ease, width 0.6s ease;
    cursor: initial;
}

.textFiltre {
    color: white;
    font-size: 20px;
    margin: 0;
}

.filtreImgOver {
    background-color: rgba(0, 0, 0, 0.656);
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}

.priceContainer {
    display: flex;
    justify-content: space-evenly;

}

.priceTable {
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    background: linear-gradient(214deg, rgba(38, 97, 24, 1) 0%, rgba(58, 146, 36, 0.896796218487395) 49%, rgba(79, 199, 49, 1) 100%);
    width: 17%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.priceTable p {
    margin: 0;
    color: white;
    font-size: 20px;
}

.trait {
    margin: auto;
    width: 80%;
    background-color: white;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.price h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 28px;
}

.priceText {
    font-size: 36px !important;
}


@media (max-width : 960px) {
    .intro {
        justify-content: center;
        max-height: auto;
    }

    .intro div {
        width: 70%;

        margin: 0;
    }

    .intro p {
        margin: 0;
        margin-bottom: 40px;
        font-size: 18px;
    }

    .intro button {
        margin-bottom: 40px;
    }

    .priceContainer {
        flex-direction: column;

    }

    .priceTable {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }

    .gallery-container {
        flex-direction: column;
        height: auto;

    }

    .gallery-container p {
        font-size: 18px;
    }


}

@media (max-width: 460px) {
    .gallery-container p {
        font-size: 14px;
    }
}