.errorMessage {
    text-align: center;
    color: red;
}

.errorMessage p {
    margin: 0;
    padding: 20px;
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: Arial, sans-serif;
}

main {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: url(/assets/img/terrain.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header {
    background-color: #1E6E11;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.logo {
    width: 240px;
}

.logo img {
    width: 100%;
}

footer {
    height: 60px;
    background-color: #1E6E11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}


.loginContainer {

    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    width: 25%;
    background: linear-gradient(214deg, rgba(38, 97, 24, 1) 0%, rgba(58, 146, 36, 0.896796218487395) 49%, rgba(79, 199, 49, 1) 100%);
    filter: drop-shadow(15px 15px 4px #0800008c);
}

.loginContainer h2 {
    font-family: 'Spinnaker', sans-serif;
    text-align: center;
    padding-bottom: 30px;

}

.loginContainer form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    margin: auto;
}

.loginContainer form input {
    margin-bottom: 20px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100%;
}

.loginContainer form button {
    width: 50%;
    padding: 7px;
    border-radius: 7px;
    border: none;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.loginContainer form button:hover {
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.5);
}

.loginContainer p {
    text-align: center;
}

.LoginButton{
    display: flex;
    justify-content: center;
}

@media (max-width: 1060px) {
    .loginContainer {
        width: 40%;
    }
}

@media (max-width: 760px) {
    .loginContainer {
        width: 70%;
    }

    footer {
        font-size: 14px;
    }

}