.errorMessage {
    background-color: red;
    text-align: center;
    color: white;
    border-top: 2px solid white;
}

.errorMessage p {
    padding: 20px;
    margin: 0;
    font-size: 20px;
}

.Message {
    background-color: green;
    text-align: center;
    color: white;
    border-top: 2px solid white;
}

.Message p {
    padding: 20px;
    margin: 0;
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: url(/assets/img/stadium.jpg);
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    flex: 1;
}


.teamsManagement h2 {
    margin-top: 0px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
}

.addTeamButton {
    background-color: rgba(58, 146, 36, 0.896796218487395);
    color: white;
    margin: 60px;
    margin-bottom: 0px;
    border: 1px solid white;
    width: 20%;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.addTeamButton:hover {
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.5);
}

.noTeam {
    color: white;
    font-size: 28px;
    border: 1px solid white;
    padding: 30px;
    border-radius: 8px;
    background: linear-gradient(214deg, rgba(38, 97, 24, 1) 0%, rgba(58, 146, 36, 0.896796218487395) 49%, rgba(79, 199, 49, 1) 100%);
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 120px;
}

/* Modal */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.836);
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    padding: 20px;
    transform: translate(-50%, calc(-100% - 100vh));
    transition: 0.3s all ease-in-out;
    z-index: 1;
    margin: 0;
    padding: 0;
    border: 1px solid white;
    border-radius: 8px;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: red;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    display: flex;
}

.modal_close svg {
    width: 30px;
    height: 30px;

}

.modalOpen {
    transform: translate(-50%, -50%);

}

.modal_body {
    height: 100%;
}

/* modal container */

.modal_body {
    background-image: url('/assets/img/terrain.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.containerModalDiv {
    position: absolute;
    top: 15%;
    left: 11%;
    width: 40%;
    height: 60%;
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
    background: linear-gradient(214deg, rgba(38, 97, 24, 1) 0%, rgba(58, 146, 36, 0.896796218487395) 49%, rgba(79, 199, 49, 1) 100%);
    color: white;
}

.containerModalDiv h2 {
    margin-top: 30px;
}

.containerModalDiv form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.containerModalDiv form div {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.containerModalDiv form input {
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin-top: 7px;
}

.containerModalDiv form label {
    font-size: 24px;
}

.containerModalDiv form button {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    background-color: #106303;
    border: 0.5px solid white;
    border-radius: 7px;
    margin-top: 60px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.containerModalDiv form button:hover {
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.5);
}

/* teamsManagement */

.teamsContain {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.teamContainer {
    color: white;
    width: 90%;
    border: 1px solid white;
    border-radius: 8px;
    background: linear-gradient(214deg, rgba(38, 97, 24, 1) 0%, rgba(58, 146, 36, 0.896796218487395) 49%, rgba(79, 199, 49, 1) 100%);
    padding: 20px;
    display: flex;
    font-size: 22px;

}


.team button,
.divBtn button {
    color: white;
    font-size: 18px;
    transition: box-shadow 0.3s ease;
}

.team button:hover,
.divBtn button:hover {
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.5);
}

.team {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 17%;
    padding-left: 30px;
    padding-right: 50px;
}

.team a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.trait {
    background-color: white;
    width: 2px;

}

.noPlayer {
    margin-left: 50px;
}

.addPlayer,
.divBtn button {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    width: 100%;
    background-color: rgba(38, 97, 24, 1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;

}

.addPlayer:hover,
.divBtn button:hover {
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.5);
}

.teamDelete {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    background-color: red;
    border-radius: 8px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow 0.3s ease;
}

.teamDelete:hover {
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.5);
}

.divBtn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin: auto;
}

.playerContain {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

.playerContain div p {
    margin: 0;
    padding: 0;
}

.playerBox {
    background: linear-gradient(214deg, rgba(38, 97, 24, 1) 0%, rgba(58, 146, 36, 0.896796218487395) 49%, rgba(79, 199, 49, 1) 100%);
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    width: auto;
    height: 48%;
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.playerDelete {
    padding: 7px;
    text-align: center;
    border: 1px solid white;
    background-color: red;
    border-radius: 8px;
    width: 90%;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}
.playerDelete:hover{
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.5);
}


@media (max-width: 730px) {

    .addTeamButton {
        display: block;
        margin: 20px auto;
        width: 80%;
    }

    .teamsManagement h2 {
        text-align: center;
        font-size: 24px;
    }

    .teamContainer {
        width: 90%;
        margin: 0 auto 20px auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .team p {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .addPlayer,
    .teamDelete {
        width: 90%;
        margin: 5px 0;
        text-align: center;
    }

    .trait {
        width: 90%;
        height: 2px;
        background-color: white;
        margin: 10px auto;
    }

    .playerContain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
    }

    .playerBox {
        width: 50%;
        height: auto;
        text-align: center;
    }

    /* Modal contenu */

    .containerModalDiv {
        width: 80%;
        margin: 0px;
        padding: 0px;
    }

}