<div class="header-container">
	<div class="logo">
		<a href="/dashboard">
			<img src="./assets/img/logo.png" alt="logo">
		</a>
	</div>
	<div class="nav-menu">
		<ul>
			{% if user.role != "Admin" %}
				<li>
					<a class="headerLink" href="/teamsManager">Mes équipes</a>
				</li>
			{% endif %}
			<li>
				<a class="headerLink" href="/calendar">Réservation</a>
			</li>
			{% if user %}
				<li>
					<a class="headerLink" href="/logout">Déconnexion</a>
				</li>
			{% else %}
				<li>
					<a class="headerLink" href="/login">Connexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
