<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block style %}{% endblock %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
		{% block style_base %}
			<link rel="stylesheet" href="/assets/css/base.css">
		{% endblock %}
		<title>MySoccer</title>
	</head>
	<body>
		<header>
			{% block header %}
				{% include "/partials/header.twig" %}
			{% endblock %}
		</header>
		<main>
			{% block main %}{% endblock %}
		</main>
		<footer>
			{% include "/partials/footer.twig" %}
		</footer>

		{% block script %}{% endblock %}
	</body>
</html>
