{% extends "../base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/dashboard.css">
{% endblock %}
{% block main %}
	{% if error %}
		<div class="errorMessage">
			<p>{{error.message}}</p>
		</div>
	{% endif %}
	{% if message %}
		<div class="Message">
			<p>{{message}}</p>
		</div>
	{% endif %}
	<section class="intro">
		{% if message %}
			<div class="acceptMailMessage">
				<p>{{message}}</p>
			</div>
		{% endif %}

		<div>
			<h2>Foot en salle</h2>
			<p>MySoccer, c’est d’abord un Foot en Salle qui offre
																																											 aux joueurs la possibilité de jouer sur des terrains
																																											 synthétiques sans remplissage avec une sous couche
																																											 de souplesse pour l’amélioration du confort de jeu.</p>

			<p>Nous fournissons les ballons taille 4 et les chasubles. 
																																											Veuillez noter que pour des raisons de sécurité,
																																											 les joueurs portant des chaussures à crampons ne
																																											 pourront pas accéder aux terrains.</p>
			<a href="">réserver votre terrain</a>
		</div>
	</section>
	<section class="soccerField">
		<h2>Nos terrains</h2>
		<div class="gallery-container">
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
		</div>
	</section>
	<section class="price">
		<h2>Tarifs et horaires</h2>
		<div class="priceContainer">
			<div class="priceTable">
				<p>Terrain Indoor</p>
				<p>
					5 x 5</p>
				<p>(synthetique)</p>
				<div class="trait"></div>
				<p>semaine et week-end</p>
				<p>de 9h à 23h30</p>
				<div class="trait"></div>
				<p class="priceText">85 €</p>
			</div>
			<div class="priceTable">
				<p>Terrain Outdoor</p>
				<p>5 x 5</p>
				<p>(synthetique)</p>
				<div class="trait"></div>
				<p>semaine et week-end</p>
				<p>de 9h à 23h30</p>
				<div class="trait"></div>
				<p class="priceText">85 €</p>
			</div>
			<div class="priceTable">
				<p>Terrain Indoor</p>
				<p>6 x 6</p>
				<p>(synthetique)</p>
				<div class="trait"></div>
				<p>semaine et week-end</p>
				<p>de 9h à 23h30</p>
				<div class="trait"></div>
				<p class="priceText">100 €</p>
			</div>
			<div class="priceTable">
				<p>Terrain Outdoor</p>
				<p>6 x 6</p>
				<p>(synthetique)</p>
				<div class="trait"></div>
				<p>semaine et week-end</p>
				<p>de 9h à 23h30</p>
				<div class="trait"></div>
				<p class="priceText">100 €</p>
			</div>
		</div>
	</section>
{% endblock %}
{% block script %}
	<script src="/assets/script/dashboard.js"></script>
{% endblock %}
