{% extends "../base.twig" %}
{% block style_base %}
	<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}
{% block header %}
	<header>
		<div class="logo">
			<a href="/dashboard">
				<img src="./assets/img/logo.png" alt="logo">
			</a>
		</div>
	</header>
{% endblock %}
{% block main %}

	<div class="loginContainer">
		<h2>Se connecter</h2>
		<form action="/login" method="post">
			<label for="mail">Email :<label>
			<input type="email" id="mail" name="mail">
			<label for="password">Password :</label>
			<input type="password" id="password" name="password">
			<button type="submit">Se connecter</button>
		</form>
		{% if error %}
			<div class="errorMessage">
				<p>{{error}}</p>
			</div>
		{% endif %}
		<p>Pas encore inscrit ?
			<a href="/register">Inscrivez-vous</a>
		</p>
	</div>
{% endblock %}
